@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
}
.hero {
    background: url("./images/bg-header-desktop.png") center;
    background-size:cover;
}
.hero__main {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__text {
    max-width: 35%;
}
.main__text p {
    padding: 2rem 0;
    color: hsl(201, 11%, 66%);
}
.main__text h1 {
    color: hsl(210, 10%, 33%);
    font-size: 2rem;
}


.button--secondary {
    background-color: hsl(201, 11%, 66%);
    border: 1px solid transparent;
    padding: .7rem 2rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 0px hsl(210, 10%, 33%);
}
.button--primary {
    background-color: hsl(233, 100%, 69%);
    border: 1px solid transparent;
    padding: .7rem 2rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 0px hsl(210, 10%, 33%);
}
.hero__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.info__text {
    max-width: 40%;
}
.info__text p {
    padding: 1rem 0;
    color: hsl(201, 11%, 66%);
}
.info__text h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}

.hero__table {
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.table__left img {
    width: 90%;
}
.table__left {
    flex: 1;
}
.table__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}