@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
}

.hero__main {
    padding: 7rem;
    background: url("./images/bg-header-desktop.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.main__text {
    max-width: 35%;
}
.main__text p {
    padding: 2rem 0;
    color: hsl(201, 11%, 66%);
}
.main__text h1 {
    color: hsl(210, 10%, 33%);
    font-size: 2rem;
}


.button--secondary {
    background-color: hsl(201, 11%, 66%);
    border: 1px solid transparent;
    padding: .7rem 2rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    transition: background-color 250ms;
    font-weight: bold;
    box-shadow: 0px 3px 0px hsl(210, 10%, 33%);
}
.button--primary {
    background-color: hsl(233, 100%, 69%);
    border: 1px solid transparent;
    padding: .7rem 2rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    box-shadow: 0px 3px 0px hsl(210, 10%, 33%);
}
.button--primary:hover {
    background-color: hsl(233, 100%, 79%);
}
.button--secondary:hover {
    background-color: hsl(202, 17%, 77%);
}
.hero__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.info__text {
    max-width: 40%;
}
.info__text p {
    padding: 1rem 0;
    color: hsl(201, 11%, 66%);
}
.info__text h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}

.hero__table {
gap: 2rem;
margin-top: 5rem;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "left right";
}
.table__right {
    padding: 5rem 0;
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.table__right h4 {
    color: hsl(210, 10%, 33%);
}
.table__right p {
    color: hsl(201, 11%, 66%);
}
.table__left {
    grid-area: left;
}


.access {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.access__text {
    width: 33%;
}
.access__text h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}
.access__text p {
    padding: 1rem 0;
    color: hsl(201, 11%, 66%);
}
.workflow {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.workflow__header h3{
    font-size: 1.7rem;
    color: hsl(210, 10%, 33%);
}
.workflow__header p {
    padding: 1rem;
    color: hsl(201, 11%, 66%);
}
.workflow__items {
    display: flex;
    margin-top: 3rem;
}
.workflow__item {
    flex: 1;
}
.workflow__item h4 {
    padding: .5rem;
    font-size: 1.5rem;
    color: hsl(210, 10%, 33%);
}
.workflow__item p {
    color: hsl(201, 11%, 66%);
}
.workflow__bottom {
    margin-top: 4rem;
    width: 100%;
    display: flex;
}
.promo {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main__text h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.7rem;
}
.footer {
    margin-top: 5rem;
    background-color: #eeeeee;
    display: flex;
    height: 15vh;
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__logo img {
    cursor: pointer;
    width: 15%;
}
.footer__item {
    justify-content: center;
    gap: .5rem;
    text-align: left;
    flex: 1;
}
.space {
    flex-direction: column;
    display: flex;
    flex: 1;
}
.footer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.5rem;
    color: hsl(210, 10%, 33%);
}
.footer a {
    color: hsl(210, 10%, 33%);
    width: fit-content;
}